
GOOGLE_REDIRECT_URI=http://localhost:8000/auth/google/callback

PAYSTACK_SECRET_KEY=
PAYSTACK_WEBHOOK_SECRET=

DATABASE_URL=sqlite:///./test.db
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

JWT_SECRET=JWT_SECRET_KEY_CHANGE_ME
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=60
JWT_COOKIE_NAME=access_token
